build

*.ilk
*.pdb

/neo/*.user
/neo/*.opensdf
/neo/*.sdf
/neo/*.ipch
/neo/*.suo

/game
/d3xp
/game-d3xp

/neo/sys/win32/rc/*.aps

/release/base/doomkey
/release/base/xpkey
/release/base/maps/*.bak
/release/base/pak004.pk4
/release/base/pak000.pk4
/release/base/pak001.pk4
/release/base/pak002.pk4
/release/base/pak003.pk4

/release/base/DoomConfig.cfg
/release/base/editor.cfg
/release/base/config.spec
/release/base/warnings.txt
/release/base/console.history

/release/base/maps/*.cm
/release/base/maps/*.proc
/release/base/maps/*.ocl

/release/base/doom.qe4
/release/base/savegames/*.save
/release/base/screenshots
/release/base/savegames
/release/base/glsl/*.i

/release/*.exe
/release/base/*.dll

/release/prototyping/*

*.aas48
*.proc

# Generated Garbage
/.vs
/.idea
/cmake-build-debug
*.bak
/.PVS-Studio
*.cfg
base/zzz_pak006.pk4
base/zzz_pak005.pk4
base/zzz_pak004.pk4
base/xpkey
base/warnings.txt
base/savegames/mirror.txt
base/savegames/mirror.tga
base/savegames/mirror.save
base/savegames/AutoSave__Mars_City.txt
base/savegames/AutoSave__Mars_City.save
base/pak100fhdoom.pk4
base/pak008.pk4
base/pak007.pk4
base/pak006.pk4
base/pak005.pk4
base/pak004.pk4
base/pak003.pk4
base/pak002.pk4
base/pak001.pk4
base/pak000.pk4
base/maps/skyboxtest.map
base/maps/pomtest.map
base/maps/openaltest.map
base/maps/glsltest.map
base/maps/game/mc_underground/textures/seccheckpoint.tga
base/maps/game/mc_underground/textures/reacholdcomm.tga
base/maps/game/mars_city2/textures/objective3.tga
base/maps/game/mars_city2/textures/objective2.tga
base/maps/game/mars_city2/textures/objective1.tga
base/maps/game/mars_city1/textures/objective2.tga
base/maps/game/mars_city1/textures/objective1.tga
base/maps/fogtest.map
base/maps/ddstest.map
base/maps/box.map
base/maps/blendtest.map
base/maps/biglight.map
base/guis/mainmenu.gui
base/glsl/vertexcolor.vp
base/glsl/vertexcolor.fp
base/glsl/test.vp
base/glsl/test.fp
base/glsl/skybox.vp
base/glsl/skybox.fp
base/glsl/shadows.inc
base/glsl/shadowmap.vp
base/glsl/shadowmap.fp
base/glsl/shadow.vp
base/glsl/shadow.fp
base/glsl/shading.inc
base/glsl/postprocess.vp
base/glsl/postprocess.fp
base/glsl/interaction.vp
base/glsl/interaction.fp
base/glsl/intensity.vp
base/glsl/intensity.fp
base/glsl/heathazeWithMaskAndVertex.vp
base/glsl/heathazeWithMaskAndVertex.fp
base/glsl/heathazeWithMask.vp
base/glsl/heathaze.vp
base/glsl/heathaze.fp
base/glsl/global.inc
base/glsl/fogLight.vp
base/glsl/fogLight.fp
base/glsl/flatcolor.vp
base/glsl/flatcolor.fp
base/glsl/envirosuit.vp
base/glsl/envirosuit.fp
base/glsl/depthblend.vp
base/glsl/depthblend.fp
base/glsl/depth.vp
base/glsl/depth.fp
base/glsl/default.vp
base/glsl/default.fp
base/glsl/debugdepth.vp
base/glsl/debugdepth.fp
base/glsl/colorProcess.vp
base/glsl/colorProcess.fp
base/glsl/bumpyenv.vp
base/glsl/bumpyenv.fp
base/glsl/brightnessGamma.fp
base/glsl/blur.fp
base/glsl/bloom.fp
base/glsl/blendLight.vp
base/glsl/blendLight.fp
base/fxgame-x64.dll
base/doomkey
base/console.history
base/config.spec
release/base/maps/biglight.map
release/base/maps/blendtest.map
release/base/maps/box.map
release/base/maps/ddstest.map
release/base/maps/fogtest.map
release/base/maps/game/mars_city1/textures/objective1.tga
release/base/maps/game/mars_city1/textures/objective2.tga
release/base/maps/game/mars_city2/textures/objective1.tga
release/base/maps/game/mars_city2/textures/objective2.tga
release/base/maps/game/mars_city2/textures/objective3.tga
release/base/maps/game/mc_underground/textures/reacholdcomm.tga
release/base/maps/game/mc_underground/textures/seccheckpoint.tga
release/base/maps/glsltest.map
release/base/maps/openaltest.map
release/base/maps/pomtest.map
release/base/maps/skyboxtest.map
release/base/pak100fhdoom.pk4
release/base/zzz_pak004.pk4
release/base/zzz_pak005.pk4
release/base/zzz_pak006.pk4
release/openal32.dll
release/soft_oal.dll
